.main{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 50%;
    height: 60vh;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container img{
    border: 1px;
    border-radius: 30px;
}
.container label{
    font-size: 20px;
}
.container input{
    width: 60%;
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.container button{
    width: 150%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    background-color: red;
}